<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Mensaje de: <%= @correo.name %></h1>
     Correo: <%= @correo.email %>
     Tel&eacute;fono: <%= @correo.telephone %>
    <p>
     <%= @correo.message %>
    </p>
    
  </body>
</html>