<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <%= @acerca_cliente.image %>
</p>


<%= link_to 'Edit', edit_acerca_cliente_path(@acerca_cliente) %> |
<%= link_to 'Back', acerca_clientes_path %>
